@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'poppins';
}

/* Add this to your global CSS file */
.transition-max-height {
    transition: max-height 0.5s ease-in-out;
}

/* Add this to your global CSS file or in a <style> block */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

.rotate-icon {
    transition: transform 0.5s ease-in-out;
}

.rotate-icon.open {
    transform: rotate(180deg);
}